.reviews {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 25px 100px;
}

h2 {
    margin-bottom: 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.slider {
    display: flex;
    overflow: auto;
    width: 80%;
    gap: 20px;
}

.slide {
    display: flex;
    width: 276px;
    padding: 0 1px 43px 0;
    flex-direction: column;
    align-items: center;
    gap: 43px;
    border-radius: 5px;
    background: #71D398;
}

.slide img {
    width: 275px;
    height: 160px;
}

.slide p {
    width: 238px;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}
