:root {
    --black: #1B1D1F;
}

.main {
    background: rgba(211, 211, 211, 0.5) url("/public/img/main/mountains_1920.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container,
.banner-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}