.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8E8E8;
    padding: 25px 100px;
}

.footer-left {
    display: flex;
    align-items: center;
}

.copyright {
    margin-left: 15px;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 42px;
}

.phone {
    text-decoration: none;
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}

.social-icons img {
    padding-right: 5px;
}